/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(86, 154, 154); */

}
.head {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient( to bottom left,
    rgba(243, 249, 245, 0.9),
  rgba(192, 207, 191, 0.827),
  rgba(181, 207, 14, 0.517)),
  url('./images/dna1.jpeg');
  background-size: cover;
  color: white;
  animation: moveBackground 50s infinite linear;
  z-index: 1;
}
@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}
.header-container {
  display: flex;
  align-items: center;
}
.head1 {
  color: darkgreen;
  margin-left: 10px; /* Adjust the margin as needed for spacing between h1 and the header content */
}
.phone {
  margin-left: auto; /* This will push the phone image to the right */
}
.numbers{
  color: darkgreen;
}
.open{
  color: darkgreen;
}
.location{
  color: darkgreen;
}
.num{
  color: darkgreen;
}
.header{
  background-color: green;
  list-style: none;
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 100px;
  width: 100;
  position: relative;
}
.services{
  list-style: none;
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.clicks{
  position: relative;
  padding: 10px 10px;
}
.link{
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: all 1s ease-out;
  float: left;
  font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link:hover{
  color: blue;
  text-decoration: underline;
  transition: all 1s ease-out;
}
.dropdown-menu{
  display: none;
  color: white;
  z-index: 2;
}
.clicks:hover .dropdown-menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color:rgb(249, 249, 249);
  width: 200px;
}
.clicks:hover .list{
  display: block;
  margin: 10px;
 
  
  
}
.clicks:hover .list .ref{
  width: 100px;
  padding: 5px;
  list-style: none;
}
.drop:hover{
  color: blue;
  list-style: none;
  text-decoration: underline;
  transition: all 1s ease-out;
}
.drop{
  color: green;
  list-style: none;
  text-decoration: none;
  /* border-bottom: 1px solid rgb(8, 8, 8); */
  margin-top: 10px;
}
.button{
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  background-color: white;
  color: green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button:hover{
  cursor: pointer;
  color: white;
  background-color: blue;
  transition: all 1s ease-out;
}
.slide-container {
  position: relative;
}

.slide-header {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
  color: white;
  font-size: 24px;
  z-index: 2; /* Ensure the header is on top of the image */
}
h1{
  text-align: center;
  font-weight: 100px;
  color: green;
  
}
#welcome-section{
  width: 100%;
  height: 600px;
  background-image:linear-gradient(
    rgba(25, 24, 3, 0.4),
    rgba(25, 24, 3, 0.4),
    rgba(25, 24, 3, 0.4)

  ),
  
  url('./images/happy.jpeg'); 
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-top: -20px; */
  
}

.welcome-text{
  color: white;
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.span{
  color: yellow;
  font-size: 150%;
 
}
.first-button{
  margin-top: 30px;
  margin-left: 600px;
  width: 200px;
  height: 60px;
  font-size: 150%;
  border-radius: 5px;
  border: none;
  font-size: 90%;
  background-color: green;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.first-button:hover{
  background-color: white;
  color: green;
  transition: all 1s ease-out;
  cursor: pointer;
  text-decoration: underline;
}

.hospital-name{
  padding-top: 350px;
  color: white;
  font-size: 300%;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-spacing: 2.5;
 
}
.hours{
  color: white;
  margin-top: 15px;
  font-weight: 20;
}
#begin{
  width: 100%;
  height: 250px;
  background-color: rgb(86, 154, 154);
  display: flex;
  /* flex-direction: column; */
}
.working-hours{
  width: 400px;
  height: 220px;
  background-color: transparent;
  margin-left: 60px;
  border-right: 1px solid white;
  box-shadow: 0 12px 13px rgb(0, 0, 0, 0.16);
  margin-top: 10px;
  border-radius: 5px;
}
.contact-us{
  width: 400px;
  height: 220px;
  background-color: transparent;
  border-right: 1px solid white;
  box-shadow: 0 12px 13px rgb(0, 0, 0, 0.16);
  margin-top: 10px;
  border-radius: 5px;
}
.locations{
  width: 400px;
  height: 220px;
  background-color: transparent;
  box-shadow: 0 12px 13px rgb(0, 0, 0, 0.16);
  margin-top: 10px;
  border-radius: 5px;
}
h3{
  text-align: center;
  color:#032902;
  font-size: 25px;
  padding: 0px;
}
.reception{
  border-radius: 10px;
} 

h5{
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
} 

.type {
  display: flex;
  align-self: center;
}
.anime{
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #032902;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.slide2{
 display: flex;
 justify-content: space-between;
}
@media screen  
  and (min-device-width: 375px)
  and (max-device-width: 667px){
    .head{
      display: flex;
      padding: 10px;
      height: 70px;
    }
    .header-container {
      display: flex;
      align-items: center;
    }
    .head1{
      color: darkgreen;
      font-size: 10px;

    }
    .icon{
      width: 50px;
      height: 50px;
    }
    .phone,
    .numbers,
    .num,
    .open,
    .location{
      font-size: 10px;
      padding: 5px;
    }
    .header{
     width: 100%;
     height: 50px;
    }
    .services{
      font-size: 10px;
      display: flex;
      list-style: none;

    }
    .link{
      font-size: 10px;
      padding-left: 2px;
      border-radius: 3px;
    }
    .link:hover{
      color: blue;
      text-decoration: underline;
      transition: all 0.3s;
    }
    .button{
      font-size: 8px;
      width: 75px;
      height: 20px;
    }
    .clicks{
        padding: 0.5px 0.5px;
    }
    .slide-img{
      width: 375px ;
      height: 120px;

    }
    h1{
      font-size: 15px;
    }
  .anime{
    font-size: 10px;
  }   
  }
  .part1{
    margin-top: 30px;
  }
  .button1:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
  }
  .container{
    max-width: 1170px;
    margin: auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
    text-decoration: none;
  }
  .footer{
    background-color: rgb(10, 47, 10);
    padding: 70px 0;
    
  }
  .footer-col{
    width: 25%;
    padding: 0 15px;
    border-bottom: 2px solid white;
  }
  #ttt{
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    left: 0;
    bottom: -10px;
    font-weight: 200;
    color:  white;
    display: block;
    transition: all 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  #ttt1{
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    left: 0;
    bottom: -10px;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .footer-col h4{
    font-size: 150%;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 110px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;

  }
  #ttt:hover{
    color: blue;
    padding-left: 3px;
    font-size: 18px;
    text-decoration: underline;
    
  }
  #private{
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
  }
  #mission-section{
    width: 1150px;
    height: 500px;
    background-color: rgb(86, 154, 154);
    border-color: #000;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
  }
  .footer-coll h4{
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 10px;
  }
  .footer-coll h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 120px;
  }
  .footer-colll h4{
    font-size: 22px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 10px;
  }
  .footer-colll h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 120px;
  }
  .footer-coll p{
    margin-left: 30px;
    color: white;
    font-size: 20px;
    bottom: -10px;
    margin-bottom: 30px;
  }
.footer-coll ul{
  color: white;
  margin-left: 30px;
}
.footer-colll p{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    margin-left: 50px;
   
    margin-right: 10px;
}
.footer-colll ul{
  color: white;
  margin-left: 50px;
}
.old{
  margin-top: 60px;
  margin-right: 10px;
}
#quick-service{
  width: 1150px;
  height: 500px;
  background-color: rgb(86, 154, 154);
  border-color: #000;
  margin-left: 70px;
  margin-right: 70px;
  display: flex; 
  margin-top: 60px;
  /* justify-content: center; */
  flex-direction: column;
}
#doctors-section{
  width: 1150px;
  height: 500px;
  /* background-color: rgb(86, 154, 154); */
  border-color: #000;
  margin-left: 70px;
  margin-right: 70px;
  display: flex; 
  margin-top: 60px;
  /* justify-content: center; */
  flex-direction: column;
  background-image: linear-gradient(
      rgba(29, 28, 5, 0.6),
      rgba(29, 28, 5, 0.6),
      rgba(29, 28, 5, 0.6)
  
    ), url('./images/team.jpeg');

}
#staff{
  width: 1125px;
  height: 435px;
  background-color: transparent;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}
.Quick-services{
  color: white;
  margin-top: 10px;
  
  /* margin-left: 500px;  */
}
#access{
  width: 1125px;
  height: 435px;
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}
.appointment{
  width: 260px;
  height: 400px;
  border: 1px solid darkgray;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.staff-team{
  width: 260px;
  height: 400px;
  border: 1px solid darkgray;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(67, 143, 67);
}
.book{
  color: rgb(86, 154, 154) ;
}
.make{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 110%;
  color: darkgray;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  color:rgb(115, 179, 115);
}
.make1{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size:20px;
  color:rgb(115, 179, 115);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
}
.book-appointment{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.booking{
  margin-top: 10px;
  margin-left: 60px;
  /* font-size: 15px; */
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(86, 154, 154);
  color: white;
}
.booking:hover{
  cursor: pointer;
  background-color: blue;
  color:  white;
  transform: scale(0.95) ;
  transition: all 1s ease-in-out;
}
#Brief-history{
   width: 1400px;
    height: 500px;
    background-color: rgb(251, 250, 248);
    border-color: #000;
    /* margin-left: 70px; */
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    border-color: none;
}
  
.footer-colo h4{
  font-size: 22px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    margin-left: 90px;
    margin-top: 120px;
    margin-right: 10px;
}
.footer-colo h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black;
  height: 2px;
  box-sizing: border-box;
  width: 120px;
}
.footer-colo p{
    margin-left: 90px;
    color: rgb(61, 61, 61);
    font-size: 18px;
    bottom: -10px;
    margin-bottom: 30px;
    margin-right: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.brief-image{
  margin-top: -270px;
  margin-left: 650px;
  border-radius: 5px;
}
#team{
    width: 1300px;
    height: 700px;
    background-image: linear-gradient(
      rgba(29, 28, 5, 0.6),
      rgba(29, 28, 5, 0.6),
      rgba(29, 28, 5, 0.6)
  
    ), url('./images/team.jpeg');
    border-color: #000;
    margin-left: 40px; 
    margin-right: 70px;
    display: flex;
    /* flex-direction: column; */
    border-color: none;
    margin-top: 10px;
    border: 1px solid gray;
}
.connect{
  width:500px ;
  height: 600px;
  background-color: white;
  margin-top: 100px;

}
.strength{
  color:white;
  /* font-size: 500%; */
  margin-left: 100px;
  /* margin-top: 120px; */
}
.connect-image{
  margin-top: 60px;
  margin-left: 90px;
}
.connect-slide{
  color: rgb(9, 9, 83) ;
  margin-left: 10px;
  margin-top: 30px;
  font-size: 15px;
  text-decoration: underline;
  font-weight: 600;
}
.comma{
  margin-top: 30px;
  font-size: 60px;
  margin-left: 10px;
}
.comma1{
  font-size: 60px;
  margin-left: 300px;
}
.italic{
  margin-top: -20px;
  font-size: 22px;
  color: rgb(20, 98, 72);
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5;
}
.connect-button{
  width: 200px;
  height: 50px;
  margin-right: 400px;
  margin-top: 600px;
  font-size: 25px;
  background-color: green;
  color: white;
}
.connect-button:hover{
  cursor: pointer;
  background-color: transparent;
}
#find-doctor{
    width: 1300px;
    height: 250px;
    background-color: green;
    border-color: #000;
     margin-left: 40px; 
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    border-color: none;
    margin-top: 10px;
}
.doctor{
  color: white;
  margin-top: 60px;
  text-align: left;
  margin-left: 70px;
  
}
.contact{
  color: white;
  margin-top: 40px;
  margin-left: 70px;
  font-size: 100%;
  font-weight: lighter;
  line-height: 1.5;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-doctor{
  width: 200px;
  height: 50px;
  margin-left: 800px;
  /* margin-top:600px; */
  
  
   background-color: transparent;
  border: 2px solid white;
  margin-top: -170px;
  color: white;
  font-weight: lighter;
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.contact-doctor:hover{
  padding-left: 8px;
  background-color: white;
  color: green;
  transform: scale(0.95);
  transition: all 1s ease-out;
  cursor: pointer;
}
#service-section{
  background-color: rgb(115, 179, 115);
  width: 1400px;
  height: 700px;
  border-color: #000;
  display: flex; 
  margin-top: 60px;
  /* justify-content: center; */
  flex-direction: column;
 
}
.service-offered{
  color: white;
  font-weight: 100;
  margin-top: 30px;
  /* margin-left: 400px; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.phamarcy-service{
  width: 400px;
  height: 600px;
  background-color: white;
  margin-left: 10px;
  margin-top: 15px;
}
#access2{
  width: 1125px;
  height: 435px;
  background-color: transparent;
  margin-top: 10px;
   margin-left: 10px;
 
  display: flex;
}
.appointment1{
  width: 350px;
  height: 500px;
  background-color: rgb(67, 143, 67);
  border: 1px solid darkgray;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 10px;
  box-shadow: 0 12px 13px rgb(0, 0, 0, 0.16),0 12px 13px rgb(0, 0, 0, 0.16),0 12px 13px rgb(0, 0, 0, 0.16);
  
}
.reception-state{
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 30px;
  font-size: 120%;
  line-height: 1.5;
  color: white;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.reception-head{
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.more-button{
  margin-top: 120px;
  margin-left: 650px;
  width: 150px;
  height: 50px;
  font-size: 100%;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.more-button:hover{
  background-color: white;
  color: green;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.staff-image{
  margin-left: 20px;
}
.staff-role{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size:16px;
  color: rgb(227, 226, 226);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 100;
}
#social-media{
  width: 1400px;
  height: 250px;
  background-color: rgb(115, 179, 115);
  border-color: #000;
  display: flex;
  flex-direction: column;
  border-color: none;
  margin-top: 10px;
}
.staff-names{
  color: white;
  margin-top: 10px;
  font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

