#asked-section{
  margin-top: 30px;
  
}
.faq{
  font-weight: 400;
  font-size: 200%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.questions{
  color: gray;
  font-weight: 300;
  text-align: center;
  font-size: 150%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
   'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#faq-cards{
  width: 350px;
  height: 250px;
  background-color: transparent;
  margin-top: 30px;
  margin-left: 50px;
  box-shadow: 0 12px 13px rgb(0, 0, 0, 0.16),0 12px 13px rgb(0, 0, 0, 0.16),0 12px 13px rgb(0, 0, 0, 0.16);
  border-radius: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
}
#cards{
  display: flex;
  flex-direction: row;
}
.payment{
  text-align: center;
  color: green;
  font-weight: 800;
}
.money{
  margin-left: 140px;
  margin-top: 20px;
}
.answer{
  text-align: center;
  margin-top: 10px;
  color: gray;
}